body{
            width: 100%;
            margin: 0px;
            background-image: linear-gradient(
            to bottom,
            #000000 0%,
            #0f0f0f 22%, 
            #141414 45%,
            #1b1b1b 50%,
            #202020 55%,
            #202020 78%,
            #2d2d2d 100%
            );
            color: white;
            font-family: 'Roboto Mono', monospace;
            display: flex;
            justify-content: center;
            
        }
        header{
            width: 100%;
            background-color: #020202;            
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
        }
        header div{
            display: flex;
            flex-wrap: wrap;
        }
        header a{
            color:  rgb(16, 78, 107);
            text-decoration: none;
            margin-right: 2rem;
            font-size: 1.5rem;
            font-family: 'Roboto Mono', monospace;
        }
        #logo{
            width: 15%;
        }
        main{
            margin-top: 10rem;
            width: 80%;
        }
        main>div{
            padding: 4rem;
        }
        main>div>h2:nth-last-of-type(1){
            background-image: linear-gradient(
            -225deg,
            #771212 0%,
            #a11717 29%,
            #ff0101 67%,
            #9b0a0a 100%
            );
            background-size: auto auto;
            background-clip: border-box;
            background-size: 200% auto;
            color: #fff;
            background-clip: text;
            text-fill-color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: textclip 2s linear infinite;
            display: inline-block;
        }

        @keyframes textclip {
            to {
                background-position: 200% center;
            }
        }
        p,ul,ol,a{
                text-align: justify;
        }
        #imgmiguel{
            width: 15%;
        }
        .principalmmm,.logitos{
            display: flex;
            justify-content: center;
        }
        .logitos img{
            max-width: 50%;
        }
        img{
            max-width: 100%;
        }
